openapi: 3.0.1
info:
  title: Partial Graph API
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /me:
    get:
      tags:
        - me.user
      summary: Get me
      operationId: me.user.GetUser
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - department
                - displayName
                - givenName
                - imAddresses
                - jobTitle
                - legalAgeGroupClassification
                - mail
                - mailNickname
                - mobilePhone
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesDomainName
                - onPremisesSamAccountName
                - onPremisesUserPrincipalName
                - passwordPolicies
                - passwordProfile
                - officeLocation
                - postalCode
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - deviceEnrollmentLimit
                - ownedDevices
                - registeredDevices
                - manager
                - directReports
                - memberOf
                - createdObjects
                - ownedObjects
                - licenseDetails
                - extensions
                - outlook
                - messages
                - mailFolders
                - calendar
                - calendars
                - calendarGroups
                - calendarView
                - events
                - people
                - contacts
                - contactFolders
                - inferenceClassification
                - photo
                - photos
                - drive
                - drives
                - planner
                - onenote
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - activities
                - insights
                - settings
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.user:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: user
          type: object
          properties:
            accountEnabled:
              type: boolean
              nullable: true
            ageGroup:
              type: string
              nullable: true
            assignedLicenses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.assignedLicense'
            assignedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.assignedPlan'
            businessPhones:
              type: array
              items:
                type: string
            city:
              type: string
              nullable: true
            companyName:
              type: string
              nullable: true
            consentProvidedForMinor:
              type: string
              nullable: true
            country:
              type: string
              nullable: true
            department:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            givenName:
              type: string
              nullable: true
            imAddresses:
              type: array
              items:
                type: string
                nullable: true
            jobTitle:
              type: string
              nullable: true
            legalAgeGroupClassification:
              type: string
              nullable: true
            mail:
              type: string
              nullable: true
            mailNickname:
              type: string
              nullable: true
            mobilePhone:
              type: string
              nullable: true
            onPremisesExtensionAttributes:
              $ref: '#/components/schemas/microsoft.graph.onPremisesExtensionAttributes'
            onPremisesImmutableId:
              type: string
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            onPremisesProvisioningErrors:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesProvisioningError'
            onPremisesSecurityIdentifier:
              type: string
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              nullable: true
            onPremisesDomainName:
              type: string
              nullable: true
            onPremisesSamAccountName:
              type: string
              nullable: true
            onPremisesUserPrincipalName:
              type: string
              nullable: true
            passwordPolicies:
              type: string
              nullable: true
            passwordProfile:
              $ref: '#/components/schemas/microsoft.graph.passwordProfile'
            officeLocation:
              type: string
              nullable: true
            postalCode:
              type: string
              nullable: true
            preferredLanguage:
              type: string
              nullable: true
            provisionedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.provisionedPlan'
            proxyAddresses:
              type: array
              items:
                type: string
            state:
              type: string
              nullable: true
            streetAddress:
              type: string
              nullable: true
            surname:
              type: string
              nullable: true
            usageLocation:
              type: string
              nullable: true
            userPrincipalName:
              type: string
              nullable: true
            userType:
              type: string
              nullable: true
            mailboxSettings:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
            aboutMe:
              type: string
              nullable: true
            birthday:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            hireDate:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            interests:
              type: array
              items:
                type: string
                nullable: true
            mySite:
              type: string
              nullable: true
            pastProjects:
              type: array
              items:
                type: string
                nullable: true
            preferredName:
              type: string
              nullable: true
            responsibilities:
              type: array
              items:
                type: string
                nullable: true
            schools:
              type: array
              items:
                type: string
                nullable: true
            skills:
              type: array
              items:
                type: string
                nullable: true
            deviceEnrollmentLimit:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The limit on the maximum number of devices that the user is permitted to enroll. Allowed values are 5 or 1000.
              format: int32
            ownedDevices:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            registeredDevices:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            manager:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            directReports:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            memberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            createdObjects:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            ownedObjects:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            licenseDetails:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.licenseDetails'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
            outlook:
              $ref: '#/components/schemas/microsoft.graph.outlookUser'
            messages:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.message'
            mailFolders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
            calendar:
              $ref: '#/components/schemas/microsoft.graph.calendar'
            calendars:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.calendar'
            calendarGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.calendarGroup'
            calendarView:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
            events:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
            people:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.person'
            contacts:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.contact'
            contactFolders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
            inferenceClassification:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
            photo:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
            photos:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
            drive:
              $ref: '#/components/schemas/microsoft.graph.drive'
            drives:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.drive'
            planner:
              $ref: '#/components/schemas/microsoft.graph.plannerUser'
            onenote:
              $ref: '#/components/schemas/microsoft.graph.onenote'
            managedDevices:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedDevice'
            managedAppRegistrations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
            deviceManagementTroubleshootingEvents:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementTroubleshootingEvent'
            activities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
            insights:
              $ref: '#/components/schemas/microsoft.graph.officeGraphInsights'
            settings:
              $ref: '#/components/schemas/microsoft.graph.userSettings'
      example:
        id: String (identifier)
        deletedDateTime: DateTimeOffset (timestamp)
        accountEnabled: true
        ageGroup: String
        assignedLicenses:
          - '@odata.type': microsoft.graph.assignedLicense
        assignedPlans:
          - '@odata.type': microsoft.graph.assignedPlan
        businessPhones:
          - String
        city: String
        companyName: String
        consentProvidedForMinor: String
        country: String
        department: String
        displayName: String
        givenName: String
        imAddresses:
          - String
        jobTitle: String
        legalAgeGroupClassification: String
        mail: String
        mailNickname: String
        mobilePhone: String
        onPremisesExtensionAttributes:
          '@odata.type': microsoft.graph.onPremisesExtensionAttributes
        onPremisesImmutableId: String
        onPremisesLastSyncDateTime: DateTimeOffset (timestamp)
        onPremisesProvisioningErrors:
          - '@odata.type': microsoft.graph.onPremisesProvisioningError
        onPremisesSecurityIdentifier: String
        onPremisesSyncEnabled: true
        onPremisesDomainName: String
        onPremisesSamAccountName: String
        onPremisesUserPrincipalName: String
        passwordPolicies: String
        passwordProfile:
          '@odata.type': microsoft.graph.passwordProfile
        officeLocation: String
        postalCode: String
        preferredLanguage: String
        provisionedPlans:
          - '@odata.type': microsoft.graph.provisionedPlan
        proxyAddresses:
          - String
        state: String
        streetAddress: String
        surname: String
        usageLocation: String
        userPrincipalName: String
        userType: String
        mailboxSettings:
          '@odata.type': microsoft.graph.mailboxSettings
        aboutMe: String
        birthday: DateTimeOffset (timestamp)
        hireDate: DateTimeOffset (timestamp)
        interests:
          - String
        mySite: String
        pastProjects:
          - String
        preferredName: String
        responsibilities:
          - String
        schools:
          - String
        skills:
          - String
        deviceEnrollmentLimit: Int32
        ownedDevices:
          - '@odata.type': microsoft.graph.directoryObject
        registeredDevices:
          - '@odata.type': microsoft.graph.directoryObject
        manager:
          '@odata.type': microsoft.graph.directoryObject
        directReports:
          - '@odata.type': microsoft.graph.directoryObject
        memberOf:
          - '@odata.type': microsoft.graph.directoryObject
        createdObjects:
          - '@odata.type': microsoft.graph.directoryObject
        ownedObjects:
          - '@odata.type': microsoft.graph.directoryObject
        licenseDetails:
          - '@odata.type': microsoft.graph.licenseDetails
        extensions:
          - '@odata.type': microsoft.graph.extension
        outlook:
          '@odata.type': microsoft.graph.outlookUser
        messages:
          - '@odata.type': microsoft.graph.message
        mailFolders:
          - '@odata.type': microsoft.graph.mailFolder
        calendar:
          '@odata.type': microsoft.graph.calendar
        calendars:
          - '@odata.type': microsoft.graph.calendar
        calendarGroups:
          - '@odata.type': microsoft.graph.calendarGroup
        calendarView:
          - '@odata.type': microsoft.graph.event
        events:
          - '@odata.type': microsoft.graph.event
        people:
          - '@odata.type': microsoft.graph.person
        contacts:
          - '@odata.type': microsoft.graph.contact
        contactFolders:
          - '@odata.type': microsoft.graph.contactFolder
        inferenceClassification:
          '@odata.type': microsoft.graph.inferenceClassification
        photo:
          '@odata.type': microsoft.graph.profilePhoto
        photos:
          - '@odata.type': microsoft.graph.profilePhoto
        drive:
          '@odata.type': microsoft.graph.drive
        drives:
          - '@odata.type': microsoft.graph.drive
        planner:
          '@odata.type': microsoft.graph.plannerUser
        onenote:
          '@odata.type': microsoft.graph.onenote
        managedDevices:
          - '@odata.type': microsoft.graph.managedDevice
        managedAppRegistrations:
          - '@odata.type': microsoft.graph.managedAppRegistration
        deviceManagementTroubleshootingEvents:
          - '@odata.type': microsoft.graph.deviceManagementTroubleshootingEvent
        activities:
          - '@odata.type': microsoft.graph.userActivity
        insights:
          '@odata.type': microsoft.graph.officeGraphInsights
        settings:
          '@odata.type': microsoft.graph.userSettings
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
      example:
        id: String (identifier)
        deletedDateTime: DateTimeOffset (timestamp)
    microsoft.graph.assignedLicense:
      title: assignedLicense
      type: object
      properties:
        disabledPlans:
          type: array
          items:
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
            format: uuid
        skuId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          format: uuid
          nullable: true
      example:
        disabledPlans:
          - Guid
        skuId: Guid
    microsoft.graph.assignedPlan:
      title: assignedPlan
      type: object
      properties:
        assignedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        capabilityStatus:
          type: string
          nullable: true
        service:
          type: string
          nullable: true
        servicePlanId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          format: uuid
          nullable: true
      example:
        assignedDateTime: DateTimeOffset (timestamp)
        capabilityStatus: String
        service: String
        servicePlanId: Guid
    microsoft.graph.onPremisesExtensionAttributes:
      title: onPremisesExtensionAttributes
      type: object
      properties:
        extensionAttribute1:
          type: string
          nullable: true
        extensionAttribute2:
          type: string
          nullable: true
        extensionAttribute3:
          type: string
          nullable: true
        extensionAttribute4:
          type: string
          nullable: true
        extensionAttribute5:
          type: string
          nullable: true
        extensionAttribute6:
          type: string
          nullable: true
        extensionAttribute7:
          type: string
          nullable: true
        extensionAttribute8:
          type: string
          nullable: true
        extensionAttribute9:
          type: string
          nullable: true
        extensionAttribute10:
          type: string
          nullable: true
        extensionAttribute11:
          type: string
          nullable: true
        extensionAttribute12:
          type: string
          nullable: true
        extensionAttribute13:
          type: string
          nullable: true
        extensionAttribute14:
          type: string
          nullable: true
        extensionAttribute15:
          type: string
          nullable: true
      example:
        extensionAttribute1: String
        extensionAttribute2: String
        extensionAttribute3: String
        extensionAttribute4: String
        extensionAttribute5: String
        extensionAttribute6: String
        extensionAttribute7: String
        extensionAttribute8: String
        extensionAttribute9: String
        extensionAttribute10: String
        extensionAttribute11: String
        extensionAttribute12: String
        extensionAttribute13: String
        extensionAttribute14: String
        extensionAttribute15: String
    microsoft.graph.onPremisesProvisioningError:
      title: onPremisesProvisioningError
      type: object
      properties:
        value:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
        propertyCausingError:
          type: string
          nullable: true
        occurredDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
      example:
        value: String
        category: String
        propertyCausingError: String
        occurredDateTime: DateTimeOffset (timestamp)
    microsoft.graph.passwordProfile:
      title: passwordProfile
      type: object
      properties:
        password:
          type: string
          nullable: true
        forceChangePasswordNextSignIn:
          type: boolean
          nullable: true
      example:
        password: String
        forceChangePasswordNextSignIn: true
    microsoft.graph.provisionedPlan:
      title: provisionedPlan
      type: object
      properties:
        capabilityStatus:
          type: string
          nullable: true
        provisioningStatus:
          type: string
          nullable: true
        service:
          type: string
          nullable: true
      example:
        capabilityStatus: String
        provisioningStatus: String
        service: String
    microsoft.graph.mailboxSettings:
      title: mailboxSettings
      type: object
      properties:
        automaticRepliesSetting:
          $ref: '#/components/schemas/microsoft.graph.automaticRepliesSetting'
        archiveFolder:
          type: string
          nullable: true
        timeZone:
          type: string
          nullable: true
        language:
          $ref: '#/components/schemas/microsoft.graph.localeInfo'
        workingHours:
          $ref: '#/components/schemas/microsoft.graph.workingHours'
      example:
        automaticRepliesSetting:
          '@odata.type': microsoft.graph.automaticRepliesSetting
        archiveFolder: String
        timeZone: String
        language:
          '@odata.type': microsoft.graph.localeInfo
        workingHours:
          '@odata.type': microsoft.graph.workingHours
    microsoft.graph.licenseDetails:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: licenseDetails
          type: object
          properties:
            servicePlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.servicePlanInfo'
            skuId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              format: uuid
              nullable: true
            skuPartNumber:
              type: string
              nullable: true
      example:
        id: String (identifier)
        servicePlans:
          - '@odata.type': microsoft.graph.servicePlanInfo
        skuId: Guid
        skuPartNumber: String
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
      example:
        id: String (identifier)
    microsoft.graph.outlookUser:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: outlookUser
          type: object
          properties:
            masterCategories:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
      example:
        id: String (identifier)
        masterCategories:
          - '@odata.type': microsoft.graph.outlookCategory
    microsoft.graph.message:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.outlookItem'
        - title: message
          type: object
          properties:
            receivedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            sentDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            hasAttachments:
              type: boolean
              nullable: true
            internetMessageId:
              type: string
              nullable: true
            internetMessageHeaders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.internetMessageHeader'
            subject:
              type: string
              nullable: true
            body:
              $ref: '#/components/schemas/microsoft.graph.itemBody'
            bodyPreview:
              type: string
              nullable: true
            importance:
              $ref: '#/components/schemas/microsoft.graph.importance'
            parentFolderId:
              type: string
              nullable: true
            sender:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            from:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            toRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
            ccRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
            bccRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
            replyTo:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
            conversationId:
              type: string
              nullable: true
            uniqueBody:
              $ref: '#/components/schemas/microsoft.graph.itemBody'
            isDeliveryReceiptRequested:
              type: boolean
              nullable: true
            isReadReceiptRequested:
              type: boolean
              nullable: true
            isRead:
              type: boolean
              nullable: true
            isDraft:
              type: boolean
              nullable: true
            webLink:
              type: string
              nullable: true
            inferenceClassification:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationType'
            flag:
              $ref: '#/components/schemas/microsoft.graph.followupFlag'
            attachments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.attachment'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
      example:
        id: String (identifier)
        createdDateTime: DateTimeOffset (timestamp)
        lastModifiedDateTime: DateTimeOffset (timestamp)
        changeKey: String
        categories:
          - String
        receivedDateTime: DateTimeOffset (timestamp)
        sentDateTime: DateTimeOffset (timestamp)
        hasAttachments: true
        internetMessageId: String
        internetMessageHeaders:
          - '@odata.type': microsoft.graph.internetMessageHeader
        subject: String
        body:
          '@odata.type': microsoft.graph.itemBody
        bodyPreview: String
        importance:
          '@odata.type': microsoft.graph.importance
        parentFolderId: String
        sender:
          '@odata.type': microsoft.graph.recipient
        from:
          '@odata.type': microsoft.graph.recipient
        toRecipients:
          - '@odata.type': microsoft.graph.recipient
        ccRecipients:
          - '@odata.type': microsoft.graph.recipient
        bccRecipients:
          - '@odata.type': microsoft.graph.recipient
        replyTo:
          - '@odata.type': microsoft.graph.recipient
        conversationId: String
        uniqueBody:
          '@odata.type': microsoft.graph.itemBody
        isDeliveryReceiptRequested: true
        isReadReceiptRequested: true
        isRead: true
        isDraft: true
        webLink: String
        inferenceClassification:
          '@odata.type': microsoft.graph.inferenceClassificationType
        flag:
          '@odata.type': microsoft.graph.followupFlag
        attachments:
          - '@odata.type': microsoft.graph.attachment
        extensions:
          - '@odata.type': microsoft.graph.extension
        singleValueExtendedProperties:
          - '@odata.type': microsoft.graph.singleValueLegacyExtendedProperty
        multiValueExtendedProperties:
          - '@odata.type': microsoft.graph.multiValueLegacyExtendedProperty
    microsoft.graph.mailFolder:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: mailFolder
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            parentFolderId:
              type: string
              nullable: true
            childFolderCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            unreadItemCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            totalItemCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            messages:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.message'
            messageRules:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
            childFolders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
      example:
        id: String (identifier)
        displayName: String
        parentFolderId: String
        childFolderCount: Int32
        unreadItemCount: Int32
        totalItemCount: Int32
        messages:
          - '@odata.type': microsoft.graph.message
        messageRules:
          - '@odata.type': microsoft.graph.messageRule
        childFolders:
          - '@odata.type': microsoft.graph.mailFolder
        singleValueExtendedProperties:
          - '@odata.type': microsoft.graph.singleValueLegacyExtendedProperty
        multiValueExtendedProperties:
          - '@odata.type': microsoft.graph.multiValueLegacyExtendedProperty
    microsoft.graph.calendar:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: calendar
          type: object
          properties:
            name:
              type: string
              nullable: true
            color:
              $ref: '#/components/schemas/microsoft.graph.calendarColor'
            changeKey:
              type: string
              nullable: true
            canShare:
              type: boolean
              nullable: true
            canViewPrivateItems:
              type: boolean
              nullable: true
            canEdit:
              type: boolean
              nullable: true
            owner:
              $ref: '#/components/schemas/microsoft.graph.emailAddress'
            events:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
            calendarView:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
      example:
        id: String (identifier)
        name: String
        color:
          '@odata.type': microsoft.graph.calendarColor
        changeKey: String
        canShare: true
        canViewPrivateItems: true
        canEdit: true
        owner:
          '@odata.type': microsoft.graph.emailAddress
        events:
          - '@odata.type': microsoft.graph.event
        calendarView:
          - '@odata.type': microsoft.graph.event
        singleValueExtendedProperties:
          - '@odata.type': microsoft.graph.singleValueLegacyExtendedProperty
        multiValueExtendedProperties:
          - '@odata.type': microsoft.graph.multiValueLegacyExtendedProperty
    microsoft.graph.calendarGroup:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: calendarGroup
          type: object
          properties:
            name:
              type: string
              nullable: true
            classId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              format: uuid
              nullable: true
            changeKey:
              type: string
              nullable: true
            calendars:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.calendar'
      example:
        id: String (identifier)
        name: String
        classId: Guid
        changeKey: String
        calendars:
          - '@odata.type': microsoft.graph.calendar
    microsoft.graph.event:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.outlookItem'
        - title: event
          type: object
          properties:
            originalStartTimeZone:
              type: string
              nullable: true
            originalEndTimeZone:
              type: string
              nullable: true
            responseStatus:
              $ref: '#/components/schemas/microsoft.graph.responseStatus'
            iCalUId:
              type: string
              nullable: true
            reminderMinutesBeforeStart:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            isReminderOn:
              type: boolean
              nullable: true
            hasAttachments:
              type: boolean
              nullable: true
            subject:
              type: string
              nullable: true
            body:
              $ref: '#/components/schemas/microsoft.graph.itemBody'
            bodyPreview:
              type: string
              nullable: true
            importance:
              $ref: '#/components/schemas/microsoft.graph.importance'
            sensitivity:
              $ref: '#/components/schemas/microsoft.graph.sensitivity'
            start:
              $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
            originalStart:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            end:
              $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
            location:
              $ref: '#/components/schemas/microsoft.graph.location'
            locations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.location'
            isAllDay:
              type: boolean
              nullable: true
            isCancelled:
              type: boolean
              nullable: true
            isOrganizer:
              type: boolean
              nullable: true
            recurrence:
              $ref: '#/components/schemas/microsoft.graph.patternedRecurrence'
            responseRequested:
              type: boolean
              nullable: true
            seriesMasterId:
              type: string
              nullable: true
            showAs:
              $ref: '#/components/schemas/microsoft.graph.freeBusyStatus'
            type:
              $ref: '#/components/schemas/microsoft.graph.eventType'
            attendees:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.attendee'
            organizer:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            webLink:
              type: string
              nullable: true
            onlineMeetingUrl:
              type: string
              nullable: true
            calendar:
              $ref: '#/components/schemas/microsoft.graph.calendar'
            instances:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
            attachments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.attachment'
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
      example:
        id: String (identifier)
        createdDateTime: DateTimeOffset (timestamp)
        lastModifiedDateTime: DateTimeOffset (timestamp)
        changeKey: String
        categories:
          - String
        originalStartTimeZone: String
        originalEndTimeZone: String
        responseStatus:
          '@odata.type': microsoft.graph.responseStatus
        iCalUId: String
        reminderMinutesBeforeStart: Int32
        isReminderOn: true
        hasAttachments: true
        subject: String
        body:
          '@odata.type': microsoft.graph.itemBody
        bodyPreview: String
        importance:
          '@odata.type': microsoft.graph.importance
        sensitivity:
          '@odata.type': microsoft.graph.sensitivity
        start:
          '@odata.type': microsoft.graph.dateTimeTimeZone
        originalStart: DateTimeOffset (timestamp)
        end:
          '@odata.type': microsoft.graph.dateTimeTimeZone
        location:
          '@odata.type': microsoft.graph.location
        locations:
          - '@odata.type': microsoft.graph.location
        isAllDay: true
        isCancelled: true
        isOrganizer: true
        recurrence:
          '@odata.type': microsoft.graph.patternedRecurrence
        responseRequested: true
        seriesMasterId: String
        showAs:
          '@odata.type': microsoft.graph.freeBusyStatus
        type:
          '@odata.type': microsoft.graph.eventType
        attendees:
          - '@odata.type': microsoft.graph.attendee
        organizer:
          '@odata.type': microsoft.graph.recipient
        webLink: String
        onlineMeetingUrl: String
        calendar:
          '@odata.type': microsoft.graph.calendar
        instances:
          - '@odata.type': microsoft.graph.event
        extensions:
          - '@odata.type': microsoft.graph.extension
        attachments:
          - '@odata.type': microsoft.graph.attachment
        singleValueExtendedProperties:
          - '@odata.type': microsoft.graph.singleValueLegacyExtendedProperty
        multiValueExtendedProperties:
          - '@odata.type': microsoft.graph.multiValueLegacyExtendedProperty
    microsoft.graph.person:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: person
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            givenName:
              type: string
              nullable: true
            surname:
              type: string
              nullable: true
            birthday:
              type: string
              nullable: true
            personNotes:
              type: string
              nullable: true
            isFavorite:
              type: boolean
              nullable: true
            scoredEmailAddresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scoredEmailAddress'
            phones:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.phone'
            postalAddresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.location'
            websites:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.website'
            jobTitle:
              type: string
              nullable: true
            companyName:
              type: string
              nullable: true
            yomiCompany:
              type: string
              nullable: true
            department:
              type: string
              nullable: true
            officeLocation:
              type: string
              nullable: true
            profession:
              type: string
              nullable: true
            personType:
              $ref: '#/components/schemas/microsoft.graph.personType'
            userPrincipalName:
              type: string
              nullable: true
            imAddress:
              type: string
              nullable: true
      example:
        id: String (identifier)
        displayName: String
        givenName: String
        surname: String
        birthday: String
        personNotes: String
        isFavorite: true
        scoredEmailAddresses:
          - '@odata.type': microsoft.graph.scoredEmailAddress
        phones:
          - '@odata.type': microsoft.graph.phone
        postalAddresses:
          - '@odata.type': microsoft.graph.location
        websites:
          - '@odata.type': microsoft.graph.website
        jobTitle: String
        companyName: String
        yomiCompany: String
        department: String
        officeLocation: String
        profession: String
        personType:
          '@odata.type': microsoft.graph.personType
        userPrincipalName: String
        imAddress: String
    microsoft.graph.contact:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.outlookItem'
        - title: contact
          type: object
          properties:
            parentFolderId:
              type: string
              nullable: true
            birthday:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            fileAs:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            givenName:
              type: string
              nullable: true
            initials:
              type: string
              nullable: true
            middleName:
              type: string
              nullable: true
            nickName:
              type: string
              nullable: true
            surname:
              type: string
              nullable: true
            title:
              type: string
              nullable: true
            yomiGivenName:
              type: string
              nullable: true
            yomiSurname:
              type: string
              nullable: true
            yomiCompanyName:
              type: string
              nullable: true
            generation:
              type: string
              nullable: true
            emailAddresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.emailAddress'
            imAddresses:
              type: array
              items:
                type: string
                nullable: true
            jobTitle:
              type: string
              nullable: true
            companyName:
              type: string
              nullable: true
            department:
              type: string
              nullable: true
            officeLocation:
              type: string
              nullable: true
            profession:
              type: string
              nullable: true
            businessHomePage:
              type: string
              nullable: true
            assistantName:
              type: string
              nullable: true
            manager:
              type: string
              nullable: true
            homePhones:
              type: array
              items:
                type: string
                nullable: true
            mobilePhone:
              type: string
              nullable: true
            businessPhones:
              type: array
              items:
                type: string
                nullable: true
            homeAddress:
              $ref: '#/components/schemas/microsoft.graph.physicalAddress'
            businessAddress:
              $ref: '#/components/schemas/microsoft.graph.physicalAddress'
            otherAddress:
              $ref: '#/components/schemas/microsoft.graph.physicalAddress'
            spouseName:
              type: string
              nullable: true
            personalNotes:
              type: string
              nullable: true
            children:
              type: array
              items:
                type: string
                nullable: true
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
            photo:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
      example:
        id: String (identifier)
        createdDateTime: DateTimeOffset (timestamp)
        lastModifiedDateTime: DateTimeOffset (timestamp)
        changeKey: String
        categories:
          - String
        parentFolderId: String
        birthday: DateTimeOffset (timestamp)
        fileAs: String
        displayName: String
        givenName: String
        initials: String
        middleName: String
        nickName: String
        surname: String
        title: String
        yomiGivenName: String
        yomiSurname: String
        yomiCompanyName: String
        generation: String
        emailAddresses:
          - '@odata.type': microsoft.graph.emailAddress
        imAddresses:
          - String
        jobTitle: String
        companyName: String
        department: String
        officeLocation: String
        profession: String
        businessHomePage: String
        assistantName: String
        manager: String
        homePhones:
          - String
        mobilePhone: String
        businessPhones:
          - String
        homeAddress:
          '@odata.type': microsoft.graph.physicalAddress
        businessAddress:
          '@odata.type': microsoft.graph.physicalAddress
        otherAddress:
          '@odata.type': microsoft.graph.physicalAddress
        spouseName: String
        personalNotes: String
        children:
          - String
        extensions:
          - '@odata.type': microsoft.graph.extension
        singleValueExtendedProperties:
          - '@odata.type': microsoft.graph.singleValueLegacyExtendedProperty
        multiValueExtendedProperties:
          - '@odata.type': microsoft.graph.multiValueLegacyExtendedProperty
        photo:
          '@odata.type': microsoft.graph.profilePhoto
    microsoft.graph.contactFolder:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: contactFolder
          type: object
          properties:
            parentFolderId:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            contacts:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.contact'
            childFolders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
      example:
        id: String (identifier)
        parentFolderId: String
        displayName: String
        contacts:
          - '@odata.type': microsoft.graph.contact
        childFolders:
          - '@odata.type': microsoft.graph.contactFolder
        singleValueExtendedProperties:
          - '@odata.type': microsoft.graph.singleValueLegacyExtendedProperty
        multiValueExtendedProperties:
          - '@odata.type': microsoft.graph.multiValueLegacyExtendedProperty
    microsoft.graph.inferenceClassification:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: inferenceClassification
          type: object
          properties:
            overrides:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
      example:
        id: String (identifier)
        overrides:
          - '@odata.type': microsoft.graph.inferenceClassificationOverride
    microsoft.graph.profilePhoto:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: profilePhoto
          type: object
          properties:
            height:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            width:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
      example:
        id: String (identifier)
        height: Int32
        width: Int32
    microsoft.graph.drive:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.baseItem'
        - title: drive
          type: object
          properties:
            driveType:
              type: string
              nullable: true
            owner:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            quota:
              $ref: '#/components/schemas/microsoft.graph.quota'
            sharePointIds:
              $ref: '#/components/schemas/microsoft.graph.sharepointIds'
            system:
              $ref: '#/components/schemas/microsoft.graph.systemFacet'
            items:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
            list:
              $ref: '#/components/schemas/microsoft.graph.list'
            root:
              $ref: '#/components/schemas/microsoft.graph.driveItem'
            special:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
      example:
        id: String (identifier)
        createdBy:
          '@odata.type': microsoft.graph.identitySet
        createdDateTime: DateTimeOffset (timestamp)
        description: String
        eTag: String
        lastModifiedBy:
          '@odata.type': microsoft.graph.identitySet
        lastModifiedDateTime: DateTimeOffset (timestamp)
        name: String
        parentReference:
          '@odata.type': microsoft.graph.itemReference
        webUrl: String
        createdByUser:
          '@odata.type': microsoft.graph.user
        lastModifiedByUser:
          '@odata.type': microsoft.graph.user
        driveType: String
        owner:
          '@odata.type': microsoft.graph.identitySet
        quota:
          '@odata.type': microsoft.graph.quota
        sharePointIds:
          '@odata.type': microsoft.graph.sharepointIds
        system:
          '@odata.type': microsoft.graph.systemFacet
        items:
          - '@odata.type': microsoft.graph.driveItem
        list:
          '@odata.type': microsoft.graph.list
        root:
          '@odata.type': microsoft.graph.driveItem
        special:
          - '@odata.type': microsoft.graph.driveItem
    microsoft.graph.plannerUser:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: plannerUser
          type: object
          properties:
            tasks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
            plans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
      example:
        id: String (identifier)
        tasks:
          - '@odata.type': microsoft.graph.plannerTask
        plans:
          - '@odata.type': microsoft.graph.plannerPlan
    microsoft.graph.onenote:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: onenote
          type: object
          properties:
            notebooks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.notebook'
            sections:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
            sectionGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
            pages:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
            resources:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onenoteResource'
            operations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
      example:
        id: String (identifier)
        notebooks:
          - '@odata.type': microsoft.graph.notebook
        sections:
          - '@odata.type': microsoft.graph.onenoteSection
        sectionGroups:
          - '@odata.type': microsoft.graph.sectionGroup
        pages:
          - '@odata.type': microsoft.graph.onenotePage
        resources:
          - '@odata.type': microsoft.graph.onenoteResource
        operations:
          - '@odata.type': microsoft.graph.onenoteOperation
    microsoft.graph.managedDevice:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: managedDevice
          type: object
          properties:
            userId:
              type: string
              description: Unique Identifier for the user associated with the device
              nullable: true
            deviceName:
              type: string
              description: Name of the device
              nullable: true
            managedDeviceOwnerType:
              $ref: '#/components/schemas/microsoft.graph.managedDeviceOwnerType'
            deviceActionResults:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.deviceActionResult'
              description: List of ComplexType deviceActionResult objects.
            enrolledDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Enrollment time of the device.
              format: date-time
            lastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The date and time that the device last completed a successful sync with Intune.
              format: date-time
            operatingSystem:
              type: string
              description: 'Operating system of the device. Windows, iOS, etc.'
              nullable: true
            complianceState:
              $ref: '#/components/schemas/microsoft.graph.complianceState'
            jailBroken:
              type: string
              description: whether the device is jail broken or rooted.
              nullable: true
            managementAgent:
              $ref: '#/components/schemas/microsoft.graph.managementAgentType'
            osVersion:
              type: string
              description: Operating system version of the device.
              nullable: true
            easActivated:
              type: boolean
              description: Whether the device is Exchange ActiveSync activated.
            easDeviceId:
              type: string
              description: Exchange ActiveSync Id of the device.
              nullable: true
            easActivationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Exchange ActivationSync activation time of the device.
              format: date-time
            azureADRegistered:
              type: boolean
              description: Whether the device is Azure Active Directory registered.
              nullable: true
            deviceEnrollmentType:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentType'
            activationLockBypassCode:
              type: string
              description: Code that allows the Activation Lock on a device to be bypassed.
              nullable: true
            emailAddress:
              type: string
              description: Email(s) for the user associated with the device
              nullable: true
            azureADDeviceId:
              type: string
              description: The unique identifier for the Azure Active Directory device. Read only.
              nullable: true
            deviceRegistrationState:
              $ref: '#/components/schemas/microsoft.graph.deviceRegistrationState'
            deviceCategoryDisplayName:
              type: string
              description: Device category display name
              nullable: true
            isSupervised:
              type: boolean
              description: Device supervised status
            exchangeLastSuccessfulSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Last time the device contacted Exchange.
              format: date-time
            exchangeAccessState:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeAccessState'
            exchangeAccessStateReason:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeAccessStateReason'
            remoteAssistanceSessionUrl:
              type: string
              description: Url that allows a Remote Assistance session to be established with the device.
              nullable: true
            remoteAssistanceSessionErrorDetails:
              type: string
              description: An error string that identifies issues when creating Remote Assistance session objects.
              nullable: true
            isEncrypted:
              type: boolean
              description: Device encryption status
            userPrincipalName:
              type: string
              description: Device user principal name
              nullable: true
            model:
              type: string
              description: Model of the device
              nullable: true
            manufacturer:
              type: string
              description: Manufacturer of the device
              nullable: true
            imei:
              type: string
              description: IMEI
              nullable: true
            complianceGracePeriodExpirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The DateTime when device compliance grace period expires
              format: date-time
            serialNumber:
              type: string
              description: SerialNumber
              nullable: true
            phoneNumber:
              type: string
              description: Phone number of the device
              nullable: true
            androidSecurityPatchLevel:
              type: string
              description: Android security patch level
              nullable: true
            userDisplayName:
              type: string
              description: User display name
              nullable: true
            configurationManagerClientEnabledFeatures:
              $ref: '#/components/schemas/microsoft.graph.configurationManagerClientEnabledFeatures'
            wiFiMacAddress:
              type: string
              description: Wi-Fi MAC
              nullable: true
            deviceHealthAttestationState:
              $ref: '#/components/schemas/microsoft.graph.deviceHealthAttestationState'
            subscriberCarrier:
              type: string
              description: Subscriber Carrier
              nullable: true
            meid:
              type: string
              description: MEID
              nullable: true
            totalStorageSpaceInBytes:
              type: integer
              description: Total Storage in Bytes
              format: int64
            freeStorageSpaceInBytes:
              type: integer
              description: Free Storage in Bytes
              format: int64
            managedDeviceName:
              type: string
              description: Automatically generated name to identify a device. Can be overwritten to a user friendly name.
              nullable: true
            partnerReportedThreatState:
              $ref: '#/components/schemas/microsoft.graph.managedDevicePartnerReportedHealthState'
            deviceConfigurationStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.deviceConfigurationState'
            deviceCategory:
              $ref: '#/components/schemas/microsoft.graph.deviceCategory'
            deviceCompliancePolicyStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyState'
          description: Devices that are managed or pre-enrolled through Intune
      example:
        id: String (identifier)
        userId: String
        deviceName: String
        managedDeviceOwnerType:
          '@odata.type': microsoft.graph.managedDeviceOwnerType
        deviceActionResults:
          - '@odata.type': microsoft.graph.deviceActionResult
        enrolledDateTime: DateTimeOffset (timestamp)
        lastSyncDateTime: DateTimeOffset (timestamp)
        operatingSystem: String
        complianceState:
          '@odata.type': microsoft.graph.complianceState
        jailBroken: String
        managementAgent:
          '@odata.type': microsoft.graph.managementAgentType
        osVersion: String
        easActivated: true
        easDeviceId: String
        easActivationDateTime: DateTimeOffset (timestamp)
        azureADRegistered: true
        deviceEnrollmentType:
          '@odata.type': microsoft.graph.deviceEnrollmentType
        activationLockBypassCode: String
        emailAddress: String
        azureADDeviceId: String
        deviceRegistrationState:
          '@odata.type': microsoft.graph.deviceRegistrationState
        deviceCategoryDisplayName: String
        isSupervised: true
        exchangeLastSuccessfulSyncDateTime: DateTimeOffset (timestamp)
        exchangeAccessState:
          '@odata.type': microsoft.graph.deviceManagementExchangeAccessState
        exchangeAccessStateReason:
          '@odata.type': microsoft.graph.deviceManagementExchangeAccessStateReason
        remoteAssistanceSessionUrl: String
        remoteAssistanceSessionErrorDetails: String
        isEncrypted: true
        userPrincipalName: String
        model: String
        manufacturer: String
        imei: String
        complianceGracePeriodExpirationDateTime: DateTimeOffset (timestamp)
        serialNumber: String
        phoneNumber: String
        androidSecurityPatchLevel: String
        userDisplayName: String
        configurationManagerClientEnabledFeatures:
          '@odata.type': microsoft.graph.configurationManagerClientEnabledFeatures
        wiFiMacAddress: String
        deviceHealthAttestationState:
          '@odata.type': microsoft.graph.deviceHealthAttestationState
        subscriberCarrier: String
        meid: String
        totalStorageSpaceInBytes: Int64
        freeStorageSpaceInBytes: Int64
        managedDeviceName: String
        partnerReportedThreatState:
          '@odata.type': microsoft.graph.managedDevicePartnerReportedHealthState
        deviceConfigurationStates:
          - '@odata.type': microsoft.graph.deviceConfigurationState
        deviceCategory:
          '@odata.type': microsoft.graph.deviceCategory
        deviceCompliancePolicyStates:
          - '@odata.type': microsoft.graph.deviceCompliancePolicyState
    microsoft.graph.managedAppRegistration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: managedAppRegistration
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Date and time of creation
              format: date-time
            lastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Date and time of last the app synced with management service.
              format: date-time
            applicationVersion:
              type: string
              description: App version
              nullable: true
            managementSdkVersion:
              type: string
              description: App management SDK version
              nullable: true
            platformVersion:
              type: string
              description: Operating System version
              nullable: true
            deviceType:
              type: string
              description: Host device type
              nullable: true
            deviceTag:
              type: string
              description: 'App management SDK generated tag, which helps relate apps hosted on the same device. Not guaranteed to relate apps in all conditions.'
              nullable: true
            deviceName:
              type: string
              description: Host device name
              nullable: true
            flaggedReasons:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedAppFlaggedReason'
              description: Zero or more reasons an app registration is flagged. E.g. app running on rooted device
            userId:
              type: string
              description: The user Id to who this app registration belongs.
              nullable: true
            appIdentifier:
              $ref: '#/components/schemas/microsoft.graph.mobileAppIdentifier'
            version:
              type: string
              description: Version of the entity.
              nullable: true
            appliedPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
            intendedPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
            operations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedAppOperation'
          description: The ManagedAppEntity is the base entity type for all other entity types under app management workflow.
      example:
        id: String (identifier)
        createdDateTime: DateTimeOffset (timestamp)
        lastSyncDateTime: DateTimeOffset (timestamp)
        applicationVersion: String
        managementSdkVersion: String
        platformVersion: String
        deviceType: String
        deviceTag: String
        deviceName: String
        flaggedReasons:
          - '@odata.type': microsoft.graph.managedAppFlaggedReason
        userId: String
        appIdentifier:
          '@odata.type': microsoft.graph.mobileAppIdentifier
        version: String
        appliedPolicies:
          - '@odata.type': microsoft.graph.managedAppPolicy
        intendedPolicies:
          - '@odata.type': microsoft.graph.managedAppPolicy
        operations:
          - '@odata.type': microsoft.graph.managedAppOperation
    microsoft.graph.deviceManagementTroubleshootingEvent:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: deviceManagementTroubleshootingEvent
          type: object
          properties:
            eventDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Time when the event occurred .
              format: date-time
            correlationId:
              type: string
              description: Id used for tracing the failure in the service.
              nullable: true
          description: Event representing an general failure.
      example:
        id: String (identifier)
        eventDateTime: DateTimeOffset (timestamp)
        correlationId: String
    microsoft.graph.userActivity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userActivity
          type: object
          properties:
            visualElements:
              $ref: '#/components/schemas/microsoft.graph.visualInfo'
            activitySourceHost:
              type: string
            activationUrl:
              type: string
            appActivityId:
              type: string
            appDisplayName:
              type: string
              nullable: true
            contentUrl:
              type: string
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            fallbackUrl:
              type: string
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            userTimezone:
              type: string
              nullable: true
            contentInfo:
              $ref: '#/components/schemas/microsoft.graph.Json'
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            historyItems:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
      example:
        id: String (identifier)
        visualElements:
          '@odata.type': microsoft.graph.visualInfo
        activitySourceHost: String
        activationUrl: String
        appActivityId: String
        appDisplayName: String
        contentUrl: String
        createdDateTime: DateTimeOffset (timestamp)
        expirationDateTime: DateTimeOffset (timestamp)
        fallbackUrl: String
        lastModifiedDateTime: DateTimeOffset (timestamp)
        userTimezone: String
        contentInfo:
          '@odata.type': microsoft.graph.Json
        status:
          '@odata.type': microsoft.graph.status
        historyItems:
          - '@odata.type': microsoft.graph.activityHistoryItem
    microsoft.graph.officeGraphInsights:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: officeGraphInsights
          type: object
          properties:
            trending:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.trending'
            shared:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
            used:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
      example:
        id: String (identifier)
        trending:
          - '@odata.type': microsoft.graph.trending
        shared:
          - '@odata.type': microsoft.graph.sharedInsight
        used:
          - '@odata.type': microsoft.graph.usedInsight
    microsoft.graph.userSettings:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userSettings
          type: object
          properties:
            contributionToContentDiscoveryDisabled:
              type: boolean
            contributionToContentDiscoveryAsOrganizationDisabled:
              type: boolean
      example:
        id: String (identifier)
        contributionToContentDiscoveryDisabled: true
        contributionToContentDiscoveryAsOrganizationDisabled: true
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: String (identifier)
    microsoft.graph.automaticRepliesSetting:
      title: automaticRepliesSetting
      type: object
      properties:
        status:
          $ref: '#/components/schemas/microsoft.graph.automaticRepliesStatus'
        externalAudience:
          $ref: '#/components/schemas/microsoft.graph.externalAudienceScope'
        scheduledStartDateTime:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        scheduledEndDateTime:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        internalReplyMessage:
          type: string
          nullable: true
        externalReplyMessage:
          type: string
          nullable: true
      example:
        status:
          '@odata.type': microsoft.graph.automaticRepliesStatus
        externalAudience:
          '@odata.type': microsoft.graph.externalAudienceScope
        scheduledStartDateTime:
          '@odata.type': microsoft.graph.dateTimeTimeZone
        scheduledEndDateTime:
          '@odata.type': microsoft.graph.dateTimeTimeZone
        internalReplyMessage: String
        externalReplyMessage: String
    microsoft.graph.localeInfo:
      title: localeInfo
      type: object
      properties:
        locale:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
      example:
        locale: String
        displayName: String
    microsoft.graph.workingHours:
      title: workingHours
      type: object
      properties:
        daysOfWeek:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
        startTime:
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$'
          type: string
          format: time
          nullable: true
        endTime:
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$'
          type: string
          format: time
          nullable: true
        timeZone:
          $ref: '#/components/schemas/microsoft.graph.timeZoneBase'
      example:
        daysOfWeek:
          - '@odata.type': microsoft.graph.dayOfWeek
        startTime: TimeOfDay (timestamp)
        endTime: TimeOfDay (timestamp)
        timeZone:
          '@odata.type': microsoft.graph.timeZoneBase
    microsoft.graph.servicePlanInfo:
      title: servicePlanInfo
      type: object
      properties:
        servicePlanId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          format: uuid
          nullable: true
        servicePlanName:
          type: string
          nullable: true
        provisioningStatus:
          type: string
          nullable: true
        appliesTo:
          type: string
          nullable: true
      example:
        servicePlanId: Guid
        servicePlanName: String
        provisioningStatus: String
        appliesTo: String
    microsoft.graph.outlookCategory:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: outlookCategory
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            color:
              $ref: '#/components/schemas/microsoft.graph.categoryColor'
      example:
        id: String (identifier)
        displayName: String
        color:
          '@odata.type': microsoft.graph.categoryColor
    microsoft.graph.outlookItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: outlookItem
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            changeKey:
              type: string
              nullable: true
            categories:
              type: array
              items:
                type: string
                nullable: true
      example:
        id: String (identifier)
        createdDateTime: DateTimeOffset (timestamp)
        lastModifiedDateTime: DateTimeOffset (timestamp)
        changeKey: String
        categories:
          - String
    microsoft.graph.internetMessageHeader:
      title: internetMessageHeader
      type: object
      properties:
        name:
          type: string
          nullable: true
        value:
          type: string
          nullable: true
      example:
        name: String
        value: String
    microsoft.graph.itemBody:
      title: itemBody
      type: object
      properties:
        contentType:
          $ref: '#/components/schemas/microsoft.graph.bodyType'
        content:
          type: string
          nullable: true
      example:
        contentType:
          '@odata.type': microsoft.graph.bodyType
        content: String
    microsoft.graph.importance:
      title: importance
      enum:
        - low
        - normal
        - high
      type: string
    microsoft.graph.recipient:
      title: recipient
      type: object
      properties:
        emailAddress:
          $ref: '#/components/schemas/microsoft.graph.emailAddress'
      example:
        emailAddress:
          '@odata.type': microsoft.graph.emailAddress
    microsoft.graph.inferenceClassificationType:
      title: inferenceClassificationType
      enum:
        - focused
        - other
      type: string
    microsoft.graph.followupFlag:
      title: followupFlag
      type: object
      properties:
        completedDateTime:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        dueDateTime:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        startDateTime:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        flagStatus:
          $ref: '#/components/schemas/microsoft.graph.followupFlagStatus'
      example:
        completedDateTime:
          '@odata.type': microsoft.graph.dateTimeTimeZone
        dueDateTime:
          '@odata.type': microsoft.graph.dateTimeTimeZone
        startDateTime:
          '@odata.type': microsoft.graph.dateTimeTimeZone
        flagStatus:
          '@odata.type': microsoft.graph.followupFlagStatus
    microsoft.graph.attachment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: attachment
          type: object
          properties:
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            name:
              type: string
              nullable: true
            contentType:
              type: string
              nullable: true
            size:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
            isInline:
              type: boolean
      example:
        id: String (identifier)
        lastModifiedDateTime: DateTimeOffset (timestamp)
        name: String
        contentType: String
        size: Int32
        isInline: true
    microsoft.graph.singleValueLegacyExtendedProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: singleValueLegacyExtendedProperty
          type: object
          properties:
            value:
              type: string
              nullable: true
      example:
        id: String (identifier)
        value: String
    microsoft.graph.multiValueLegacyExtendedProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: multiValueLegacyExtendedProperty
          type: object
          properties:
            value:
              type: array
              items:
                type: string
                nullable: true
      example:
        id: String (identifier)
        value:
          - String
    microsoft.graph.messageRule:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: messageRule
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            sequence:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            conditions:
              $ref: '#/components/schemas/microsoft.graph.messageRulePredicates'
            actions:
              $ref: '#/components/schemas/microsoft.graph.messageRuleActions'
            exceptions:
              $ref: '#/components/schemas/microsoft.graph.messageRulePredicates'
            isEnabled:
              type: boolean
              nullable: true
            hasError:
              type: boolean
              nullable: true
            isReadOnly:
              type: boolean
              nullable: true
      example:
        id: String (identifier)
        displayName: String
        sequence: Int32
        conditions:
          '@odata.type': microsoft.graph.messageRulePredicates
        actions:
          '@odata.type': microsoft.graph.messageRuleActions
        exceptions:
          '@odata.type': microsoft.graph.messageRulePredicates
        isEnabled: true
        hasError: true
        isReadOnly: true
    microsoft.graph.calendarColor:
      title: calendarColor
      enum:
        - lightBlue
        - lightGreen
        - lightOrange
        - lightGray
        - lightYellow
        - lightTeal
        - lightPink
        - lightBrown
        - lightRed
        - maxColor
        - auto
      type: string
    microsoft.graph.emailAddress:
      title: emailAddress
      type: object
      properties:
        name:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
      example:
        name: String
        address: String
    microsoft.graph.responseStatus:
      title: responseStatus
      type: object
      properties:
        response:
          $ref: '#/components/schemas/microsoft.graph.responseType'
        time:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
      example:
        response:
          '@odata.type': microsoft.graph.responseType
        time: DateTimeOffset (timestamp)
    microsoft.graph.sensitivity:
      title: sensitivity
      enum:
        - normal
        - personal
        - private
        - confidential
      type: string
    microsoft.graph.dateTimeTimeZone:
      title: dateTimeTimeZone
      type: object
      properties:
        dateTime:
          type: string
        timeZone:
          type: string
          nullable: true
      example:
        dateTime: String
        timeZone: String
    microsoft.graph.location:
      title: location
      type: object
      properties:
        displayName:
          type: string
          nullable: true
        locationEmailAddress:
          type: string
          nullable: true
        address:
          $ref: '#/components/schemas/microsoft.graph.physicalAddress'
        coordinates:
          $ref: '#/components/schemas/microsoft.graph.outlookGeoCoordinates'
        locationUri:
          type: string
          nullable: true
        locationType:
          $ref: '#/components/schemas/microsoft.graph.locationType'
        uniqueId:
          type: string
          nullable: true
        uniqueIdType:
          $ref: '#/components/schemas/microsoft.graph.locationUniqueIdType'
      example:
        displayName: String
        locationEmailAddress: String
        address:
          '@odata.type': microsoft.graph.physicalAddress
        coordinates:
          '@odata.type': microsoft.graph.outlookGeoCoordinates
        locationUri: String
        locationType:
          '@odata.type': microsoft.graph.locationType
        uniqueId: String
        uniqueIdType:
          '@odata.type': microsoft.graph.locationUniqueIdType
    microsoft.graph.patternedRecurrence:
      title: patternedRecurrence
      type: object
      properties:
        pattern:
          $ref: '#/components/schemas/microsoft.graph.recurrencePattern'
        range:
          $ref: '#/components/schemas/microsoft.graph.recurrenceRange'
      example:
        pattern:
          '@odata.type': microsoft.graph.recurrencePattern
        range:
          '@odata.type': microsoft.graph.recurrenceRange
    microsoft.graph.freeBusyStatus:
      title: freeBusyStatus
      enum:
        - free
        - tentative
        - busy
        - oof
        - workingElsewhere
        - unknown
      type: string
    microsoft.graph.eventType:
      title: eventType
      enum:
        - singleInstance
        - occurrence
        - exception
        - seriesMaster
      type: string
    microsoft.graph.attendee:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.attendeeBase'
        - title: attendee
          type: object
          properties:
            status:
              $ref: '#/components/schemas/microsoft.graph.responseStatus'
      example:
        emailAddress:
          '@odata.type': microsoft.graph.emailAddress
        type:
          '@odata.type': microsoft.graph.attendeeType
        status:
          '@odata.type': microsoft.graph.responseStatus
    microsoft.graph.scoredEmailAddress:
      title: scoredEmailAddress
      type: object
      properties:
        address:
          type: string
          nullable: true
        relevanceScore:
          type: number
          format: double
          nullable: true
        selectionLikelihood:
          $ref: '#/components/schemas/microsoft.graph.selectionLikelihoodInfo'
        ItemId:
          type: string
          nullable: true
      example:
        address: String
        relevanceScore: Double
        selectionLikelihood:
          '@odata.type': microsoft.graph.selectionLikelihoodInfo
        ItemId: String
    microsoft.graph.phone:
      title: phone
      type: object
      properties:
        type:
          $ref: '#/components/schemas/microsoft.graph.phoneType'
        number:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        language:
          type: string
          nullable: true
      example:
        type:
          '@odata.type': microsoft.graph.phoneType
        number: String
        region: String
        language: String
    microsoft.graph.website:
      title: website
      type: object
      properties:
        type:
          $ref: '#/components/schemas/microsoft.graph.websiteType'
        address:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
      example:
        type:
          '@odata.type': microsoft.graph.websiteType
        address: String
        displayName: String
    microsoft.graph.personType:
      title: personType
      type: object
      properties:
        class:
          type: string
          nullable: true
        subclass:
          type: string
          nullable: true
      example:
        class: String
        subclass: String
    microsoft.graph.physicalAddress:
      title: physicalAddress
      type: object
      properties:
        street:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        countryOrRegion:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
      example:
        street: String
        city: String
        state: String
        countryOrRegion: String
        postalCode: String
    microsoft.graph.inferenceClassificationOverride:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: inferenceClassificationOverride
          type: object
          properties:
            classifyAs:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationType'
            senderEmailAddress:
              $ref: '#/components/schemas/microsoft.graph.emailAddress'
      example:
        id: String (identifier)
        classifyAs:
          '@odata.type': microsoft.graph.inferenceClassificationType
        senderEmailAddress:
          '@odata.type': microsoft.graph.emailAddress
    microsoft.graph.baseItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: baseItem
          type: object
          properties:
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            description:
              type: string
              nullable: true
            eTag:
              type: string
              nullable: true
            lastModifiedBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            name:
              type: string
              nullable: true
            parentReference:
              $ref: '#/components/schemas/microsoft.graph.itemReference'
            webUrl:
              type: string
              nullable: true
            createdByUser:
              $ref: '#/components/schemas/microsoft.graph.user'
            lastModifiedByUser:
              $ref: '#/components/schemas/microsoft.graph.user'
      example:
        id: String (identifier)
        createdBy:
          '@odata.type': microsoft.graph.identitySet
        createdDateTime: DateTimeOffset (timestamp)
        description: String
        eTag: String
        lastModifiedBy:
          '@odata.type': microsoft.graph.identitySet
        lastModifiedDateTime: DateTimeOffset (timestamp)
        name: String
        parentReference:
          '@odata.type': microsoft.graph.itemReference
        webUrl: String
        createdByUser:
          '@odata.type': microsoft.graph.user
        lastModifiedByUser:
          '@odata.type': microsoft.graph.user
    microsoft.graph.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.identity'
      example:
        application:
          '@odata.type': microsoft.graph.identity
        device:
          '@odata.type': microsoft.graph.identity
        user:
          '@odata.type': microsoft.graph.identity
    microsoft.graph.quota:
      title: quota
      type: object
      properties:
        deleted:
          type: integer
          format: int64
          nullable: true
        remaining:
          type: integer
          format: int64
          nullable: true
        state:
          type: string
          nullable: true
        total:
          type: integer
          format: int64
          nullable: true
        used:
          type: integer
          format: int64
          nullable: true
      example:
        deleted: Int64
        remaining: Int64
        state: String
        total: Int64
        used: Int64
    microsoft.graph.sharepointIds:
      title: sharepointIds
      type: object
      properties:
        listId:
          type: string
          nullable: true
        listItemId:
          type: string
          nullable: true
        listItemUniqueId:
          type: string
          nullable: true
        siteId:
          type: string
          nullable: true
        siteUrl:
[...]
