openapi: 3.0.1
info:
  title: DeviceManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceManagement:
    get:
      tags:
        - deviceManagement.deviceManagement
      summary: Get deviceManagement
      operationId: deviceManagement.deviceManagement_GetDeviceManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deviceComplianceReportSummarizationDateTime
                - intuneAccountId
                - lastReportAggregationDateTime
                - legacyPcManangementEnabled
                - maximumDepTokens
                - settings
                - unlicensedAdminstratorsEnabled
                - intuneBrand
                - accountMoveCompletionDateTime
                - adminConsent
                - deviceProtectionOverview
                - managedDeviceCleanupSettings
                - subscriptions
                - subscriptionState
                - userExperienceAnalyticsSettings
                - windowsMalwareOverview
                - androidDeviceOwnerEnrollmentProfiles
                - virtualEndpoint
                - androidForWorkAppConfigurationSchemas
                - androidForWorkEnrollmentProfiles
                - androidForWorkSettings
                - androidManagedStoreAccountEnterpriseSettings
                - androidManagedStoreAppConfigurationSchemas
                - auditEvents
                - assignmentFilters
                - termsAndConditions
                - advancedThreatProtectionOnboardingStateSummary
                - cartToClassAssociations
                - deviceCompliancePolicies
                - deviceCompliancePolicyDeviceStateSummary
                - deviceCompliancePolicySettingStateSummaries
                - deviceConfigurationConflictSummary
                - deviceConfigurationDeviceStateSummaries
                - deviceConfigurationRestrictedAppsViolations
                - deviceConfigurations
                - deviceConfigurationsAllManagedDeviceCertificateStates
                - deviceConfigurationUserStateSummaries
                - iosUpdateStatuses
                - macOSSoftwareUpdateAccountSummaries
                - managedDeviceEncryptionStates
                - ndesConnectors
                - softwareUpdateStatusSummary
                - configurationCategories
                - configurationPolicies
                - configurationSettings
                - complianceManagementPartners
                - conditionalAccessSettings
                - deviceCategories
                - deviceEnrollmentConfigurations
                - deviceManagementPartners
                - exchangeConnectors
                - exchangeOnPremisesPolicies
                - exchangeOnPremisesPolicy
                - mobileThreatDefenseConnectors
                - categories
                - intents
                - settingDefinitions
                - templates
                - applePushNotificationCertificate
                - comanagedDevices
                - comanagementEligibleDevices
                - dataSharingConsents
                - detectedApps
                - deviceComplianceScripts
                - deviceCustomAttributeShellScripts
                - deviceHealthScripts
                - deviceManagementScripts
                - deviceShellScripts
                - managedDeviceOverview
                - managedDevices
                - mobileAppTroubleshootingEvents
                - remoteActionAudits
                - userExperienceAnalyticsAppHealthApplicationPerformance
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersion
                - userExperienceAnalyticsAppHealthApplicationPerformanceByOSVersion
                - userExperienceAnalyticsAppHealthDeviceModelPerformance
                - userExperienceAnalyticsAppHealthDevicePerformance
                - userExperienceAnalyticsAppHealthDevicePerformanceDetails
                - userExperienceAnalyticsAppHealthOSVersionPerformance
                - userExperienceAnalyticsAppHealthOverview
                - userExperienceAnalyticsBaselines
                - userExperienceAnalyticsCategories
                - userExperienceAnalyticsDevicePerformance
                - userExperienceAnalyticsDeviceStartupHistory
                - userExperienceAnalyticsDeviceStartupProcesses
                - userExperienceAnalyticsDeviceStartupProcessPerformance
                - userExperienceAnalyticsMetricHistory
                - userExperienceAnalyticsOverview
                - userExperienceAnalyticsRegressionSummary
                - userExperienceAnalyticsScoreHistory
                - windowsMalwareInformation
                - derivedCredentials
                - resourceAccessProfiles
                - appleUserInitiatedEnrollmentProfiles
                - depOnboardingSettings
                - importedDeviceIdentities
                - importedWindowsAutopilotDeviceIdentities
                - windowsAutopilotDeploymentProfiles
                - windowsAutopilotDeviceIdentities
                - windowsAutopilotSettings
                - managementConditions
                - managementConditionStatements
                - groupPolicyMigrationReports
                - groupPolicyObjectFiles
                - groupPolicyCategories
                - groupPolicyConfigurations
                - groupPolicyDefinitionFiles
                - groupPolicyDefinitions
                - groupPolicyUploadedDefinitionFiles
                - microsoftTunnelConfigurations
                - microsoftTunnelSites
                - notificationMessageTemplates
                - domainJoinConnectors
                - configManagerCollections
                - resourceOperations
                - roleAssignments
                - roleDefinitions
                - roleScopeTags
                - remoteAssistancePartners
                - reports
                - embeddedSIMActivationCodePools
                - telecomExpenseManagementPartners
                - autopilotEvents
                - troubleshootingEvents
                - windowsFeatureUpdateProfiles
                - intuneBrandingProfiles
                - windowsInformationProtectionAppLearningSummaries
                - windowsInformationProtectionNetworkLearningSummaries
                - userPfxCertificates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - androidDeviceOwnerEnrollmentProfiles
                - virtualEndpoint
                - androidForWorkAppConfigurationSchemas
                - androidForWorkEnrollmentProfiles
                - androidForWorkSettings
                - androidManagedStoreAccountEnterpriseSettings
                - androidManagedStoreAppConfigurationSchemas
                - auditEvents
                - assignmentFilters
                - termsAndConditions
                - advancedThreatProtectionOnboardingStateSummary
                - cartToClassAssociations
                - deviceCompliancePolicies
                - deviceCompliancePolicyDeviceStateSummary
                - deviceCompliancePolicySettingStateSummaries
                - deviceConfigurationConflictSummary
                - deviceConfigurationDeviceStateSummaries
                - deviceConfigurationRestrictedAppsViolations
                - deviceConfigurations
                - deviceConfigurationsAllManagedDeviceCertificateStates
                - deviceConfigurationUserStateSummaries
                - iosUpdateStatuses
                - macOSSoftwareUpdateAccountSummaries
                - managedDeviceEncryptionStates
                - ndesConnectors
                - softwareUpdateStatusSummary
                - configurationCategories
                - configurationPolicies
                - configurationSettings
                - complianceManagementPartners
                - conditionalAccessSettings
                - deviceCategories
                - deviceEnrollmentConfigurations
                - deviceManagementPartners
                - exchangeConnectors
                - exchangeOnPremisesPolicies
                - exchangeOnPremisesPolicy
                - mobileThreatDefenseConnectors
                - categories
                - intents
                - settingDefinitions
                - templates
                - applePushNotificationCertificate
                - comanagedDevices
                - comanagementEligibleDevices
                - dataSharingConsents
                - detectedApps
                - deviceComplianceScripts
                - deviceCustomAttributeShellScripts
                - deviceHealthScripts
                - deviceManagementScripts
                - deviceShellScripts
                - managedDeviceOverview
                - managedDevices
                - mobileAppTroubleshootingEvents
                - remoteActionAudits
                - userExperienceAnalyticsAppHealthApplicationPerformance
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersion
                - userExperienceAnalyticsAppHealthApplicationPerformanceByOSVersion
                - userExperienceAnalyticsAppHealthDeviceModelPerformance
                - userExperienceAnalyticsAppHealthDevicePerformance
                - userExperienceAnalyticsAppHealthDevicePerformanceDetails
                - userExperienceAnalyticsAppHealthOSVersionPerformance
                - userExperienceAnalyticsAppHealthOverview
                - userExperienceAnalyticsBaselines
                - userExperienceAnalyticsCategories
                - userExperienceAnalyticsDevicePerformance
                - userExperienceAnalyticsDeviceStartupHistory
                - userExperienceAnalyticsDeviceStartupProcesses
                - userExperienceAnalyticsDeviceStartupProcessPerformance
                - userExperienceAnalyticsMetricHistory
                - userExperienceAnalyticsOverview
                - userExperienceAnalyticsRegressionSummary
                - userExperienceAnalyticsScoreHistory
                - windowsMalwareInformation
                - derivedCredentials
                - resourceAccessProfiles
                - appleUserInitiatedEnrollmentProfiles
                - depOnboardingSettings
                - importedDeviceIdentities
                - importedWindowsAutopilotDeviceIdentities
                - windowsAutopilotDeploymentProfiles
                - windowsAutopilotDeviceIdentities
                - windowsAutopilotSettings
                - managementConditions
                - managementConditionStatements
                - groupPolicyMigrationReports
                - groupPolicyObjectFiles
                - groupPolicyCategories
                - groupPolicyConfigurations
                - groupPolicyDefinitionFiles
                - groupPolicyDefinitions
                - groupPolicyUploadedDefinitionFiles
                - microsoftTunnelConfigurations
                - microsoftTunnelSites
                - notificationMessageTemplates
                - domainJoinConnectors
                - configManagerCollections
                - resourceOperations
                - roleAssignments
                - roleDefinitions
                - roleScopeTags
                - remoteAssistancePartners
                - reports
                - embeddedSIMActivationCodePools
                - telecomExpenseManagementPartners
                - autopilotEvents
                - troubleshootingEvents
                - windowsFeatureUpdateProfiles
                - intuneBrandingProfiles
                - windowsInformationProtectionAppLearningSummaries
                - windowsInformationProtectionNetworkLearningSummaries
                - userPfxCertificates
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagement'
          links:
            androidDeviceOwnerEnrollmentProfiles:
              operationId: deviceManagement.ListAndroidDeviceOwnerEnrollmentProfiles
            virtualEndpoint:
              operationId: deviceManagement.GetVirtualEndpoint
            androidForWorkAppConfigurationSchemas:
              operationId: deviceManagement.ListAndroidForWorkAppConfigurationSchemas
            androidForWorkEnrollmentProfiles:
              operationId: deviceManagement.ListAndroidForWorkEnrollmentProfiles
            androidForWorkSettings:
              operationId: deviceManagement.GetAndroidForWorkSettings
            androidManagedStoreAccountEnterpriseSettings:
              operationId: deviceManagement.GetAndroidManagedStoreAccountEnterpriseSettings
            androidManagedStoreAppConfigurationSchemas:
              operationId: deviceManagement.ListAndroidManagedStoreAppConfigurationSchemas
            auditEvents:
              operationId: deviceManagement.ListAuditEvents
            assignmentFilters:
              operationId: deviceManagement.ListAssignmentFilters
            termsAndConditions:
              operationId: deviceManagement.ListTermsAndConditions
            advancedThreatProtectionOnboardingStateSummary:
              operationId: deviceManagement.GetAdvancedThreatProtectionOnboardingStateSummary
            cartToClassAssociations:
              operationId: deviceManagement.ListCartToClassAssociations
            deviceCompliancePolicies:
              operationId: deviceManagement.ListDeviceCompliancePolicies
            deviceCompliancePolicyDeviceStateSummary:
              operationId: deviceManagement.GetDeviceCompliancePolicyDeviceStateSummary
            deviceCompliancePolicySettingStateSummaries:
              operationId: deviceManagement.ListDeviceCompliancePolicySettingStateSummaries
            deviceConfigurationConflictSummary:
              operationId: deviceManagement.ListDeviceConfigurationConflictSummary
            deviceConfigurationDeviceStateSummaries:
              operationId: deviceManagement.GetDeviceConfigurationDeviceStateSummaries
            deviceConfigurationRestrictedAppsViolations:
              operationId: deviceManagement.ListDeviceConfigurationRestrictedAppsViolations
            deviceConfigurations:
              operationId: deviceManagement.ListDeviceConfigurations
            deviceConfigurationsAllManagedDeviceCertificateStates:
              operationId: deviceManagement.ListDeviceConfigurationsAllManagedDeviceCertificateStates
            deviceConfigurationUserStateSummaries:
              operationId: deviceManagement.GetDeviceConfigurationUserStateSummaries
            iosUpdateStatuses:
              operationId: deviceManagement.ListIosUpdateStatuses
            macOSSoftwareUpdateAccountSummaries:
              operationId: deviceManagement.ListMacOSSoftwareUpdateAccountSummaries
            managedDeviceEncryptionStates:
              operationId: deviceManagement.ListManagedDeviceEncryptionStates
            ndesConnectors:
              operationId: deviceManagement.ListNdesConnectors
            softwareUpdateStatusSummary:
              operationId: deviceManagement.GetSoftwareUpdateStatusSummary
            configurationCategories:
              operationId: deviceManagement.ListConfigurationCategories
            configurationPolicies:
              operationId: deviceManagement.ListConfigurationPolicies
            configurationSettings:
              operationId: deviceManagement.ListConfigurationSettings
            complianceManagementPartners:
              operationId: deviceManagement.ListComplianceManagementPartners
            conditionalAccessSettings:
              operationId: deviceManagement.GetConditionalAccessSettings
            deviceCategories:
              operationId: deviceManagement.ListDeviceCategories
            deviceEnrollmentConfigurations:
              operationId: deviceManagement.ListDeviceEnrollmentConfigurations
            deviceManagementPartners:
              operationId: deviceManagement.ListDeviceManagementPartners
            exchangeConnectors:
              operationId: deviceManagement.ListExchangeConnectors
            exchangeOnPremisesPolicies:
              operationId: deviceManagement.ListExchangeOnPremisesPolicies
            exchangeOnPremisesPolicy:
              operationId: deviceManagement.GetExchangeOnPremisesPolicy
            mobileThreatDefenseConnectors:
              operationId: deviceManagement.ListMobileThreatDefenseConnectors
            categories:
              operationId: deviceManagement.ListCategories
            intents:
              operationId: deviceManagement.ListIntents
            settingDefinitions:
              operationId: deviceManagement.ListSettingDefinitions
            templates:
              operationId: deviceManagement.ListTemplates
            applePushNotificationCertificate:
              operationId: deviceManagement.GetApplePushNotificationCertificate
            comanagedDevices:
              operationId: deviceManagement.ListComanagedDevices
            comanagementEligibleDevices:
              operationId: deviceManagement.ListComanagementEligibleDevices
            dataSharingConsents:
              operationId: deviceManagement.ListDataSharingConsents
            detectedApps:
              operationId: deviceManagement.ListDetectedApps
            deviceComplianceScripts:
              operationId: deviceManagement.ListDeviceComplianceScripts
            deviceCustomAttributeShellScripts:
              operationId: deviceManagement.ListDeviceCustomAttributeShellScripts
            deviceHealthScripts:
              operationId: deviceManagement.ListDeviceHealthScripts
            deviceManagementScripts:
              operationId: deviceManagement.ListDeviceManagementScripts
            deviceShellScripts:
              operationId: deviceManagement.ListDeviceShellScripts
            managedDeviceOverview:
              operationId: deviceManagement.GetManagedDeviceOverview
            managedDevices:
              operationId: deviceManagement.ListManagedDevices
            mobileAppTroubleshootingEvents:
              operationId: deviceManagement.ListMobileAppTroubleshootingEvents
            remoteActionAudits:
              operationId: deviceManagement.ListRemoteActionAudits
            userExperienceAnalyticsAppHealthApplicationPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformance
            userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersion:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformanceByAppVersion
            userExperienceAnalyticsAppHealthApplicationPerformanceByOSVersion:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformanceByOSVersion
            userExperienceAnalyticsAppHealthDeviceModelPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthDeviceModelPerformance
            userExperienceAnalyticsAppHealthDevicePerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthDevicePerformance
            userExperienceAnalyticsAppHealthDevicePerformanceDetails:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthDevicePerformanceDetails
            userExperienceAnalyticsAppHealthOSVersionPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthOSVersionPerformance
            userExperienceAnalyticsAppHealthOverview:
              operationId: deviceManagement.GetUserExperienceAnalyticsAppHealthOverview
            userExperienceAnalyticsBaselines:
              operationId: deviceManagement.ListUserExperienceAnalyticsBaselines
            userExperienceAnalyticsCategories:
              operationId: deviceManagement.ListUserExperienceAnalyticsCategories
            userExperienceAnalyticsDevicePerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsDevicePerformance
            userExperienceAnalyticsDeviceStartupHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceStartupHistory
            userExperienceAnalyticsDeviceStartupProcesses:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceStartupProcesses
            userExperienceAnalyticsDeviceStartupProcessPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceStartupProcessPerformance
            userExperienceAnalyticsMetricHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsMetricHistory
            userExperienceAnalyticsOverview:
              operationId: deviceManagement.GetUserExperienceAnalyticsOverview
            userExperienceAnalyticsRegressionSummary:
              operationId: deviceManagement.GetUserExperienceAnalyticsRegressionSummary
            userExperienceAnalyticsScoreHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsScoreHistory
            windowsMalwareInformation:
              operationId: deviceManagement.ListWindowsMalwareInformation
            derivedCredentials:
              operationId: deviceManagement.ListDerivedCredentials
            resourceAccessProfiles:
              operationId: deviceManagement.ListResourceAccessProfiles
            appleUserInitiatedEnrollmentProfiles:
              operationId: deviceManagement.ListAppleUserInitiatedEnrollmentProfiles
            depOnboardingSettings:
              operationId: deviceManagement.ListDepOnboardingSettings
            importedDeviceIdentities:
              operationId: deviceManagement.ListImportedDeviceIdentities
            importedWindowsAutopilotDeviceIdentities:
              operationId: deviceManagement.ListImportedWindowsAutopilotDeviceIdentities
            windowsAutopilotDeploymentProfiles:
              operationId: deviceManagement.ListWindowsAutopilotDeploymentProfiles
            windowsAutopilotDeviceIdentities:
              operationId: deviceManagement.ListWindowsAutopilotDeviceIdentities
            windowsAutopilotSettings:
              operationId: deviceManagement.GetWindowsAutopilotSettings
            managementConditions:
              operationId: deviceManagement.ListManagementConditions
            managementConditionStatements:
              operationId: deviceManagement.ListManagementConditionStatements
            groupPolicyMigrationReports:
              operationId: deviceManagement.ListGroupPolicyMigrationReports
            groupPolicyObjectFiles:
              operationId: deviceManagement.ListGroupPolicyObjectFiles
            groupPolicyCategories:
              operationId: deviceManagement.ListGroupPolicyCategories
            groupPolicyConfigurations:
              operationId: deviceManagement.ListGroupPolicyConfigurations
            groupPolicyDefinitionFiles:
              operationId: deviceManagement.ListGroupPolicyDefinitionFiles
            groupPolicyDefinitions:
              operationId: deviceManagement.ListGroupPolicyDefinitions
            groupPolicyUploadedDefinitionFiles:
              operationId: deviceManagement.ListGroupPolicyUploadedDefinitionFiles
            microsoftTunnelConfigurations:
              operationId: deviceManagement.ListMicrosoftTunnelConfigurations
            microsoftTunnelSites:
              operationId: deviceManagement.ListMicrosoftTunnelSites
            notificationMessageTemplates:
              operationId: deviceManagement.ListNotificationMessageTemplates
            domainJoinConnectors:
              operationId: deviceManagement.ListDomainJoinConnectors
            configManagerCollections:
              operationId: deviceManagement.ListConfigManagerCollections
            resourceOperations:
              operationId: deviceManagement.ListResourceOperations
            roleAssignments:
              operationId: deviceManagement.ListRoleAssignments
            roleDefinitions:
              operationId: deviceManagement.ListRoleDefinitions
            roleScopeTags:
              operationId: deviceManagement.ListRoleScopeTags
            remoteAssistancePartners:
              operationId: deviceManagement.ListRemoteAssistancePartners
            reports:
              operationId: deviceManagement.GetReports
            embeddedSIMActivationCodePools:
              operationId: deviceManagement.ListEmbeddedSIMActivationCodePools
            telecomExpenseManagementPartners:
              operationId: deviceManagement.ListTelecomExpenseManagementPartners
            autopilotEvents:
              operationId: deviceManagement.ListAutopilotEvents
            troubleshootingEvents:
              operationId: deviceManagement.ListTroubleshootingEvents
            windowsFeatureUpdateProfiles:
              operationId: deviceManagement.ListWindowsFeatureUpdateProfiles
            intuneBrandingProfiles:
              operationId: deviceManagement.ListIntuneBrandingProfiles
            windowsInformationProtectionAppLearningSummaries:
              operationId: deviceManagement.ListWindowsInformationProtectionAppLearningSummaries
            windowsInformationProtectionNetworkLearningSummaries:
              operationId: deviceManagement.ListWindowsInformationProtectionNetworkLearningSummaries
            userPfxCertificates:
              operationId: deviceManagement.ListUserPfxCertificates
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagement
      summary: Update deviceManagement
      operationId: deviceManagement.deviceManagement_UpdateDeviceManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/advancedThreatProtectionOnboardingStateSummary:
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingStateSummary from deviceManagement
      operationId: deviceManagement_GetAdvancedThreatProtectionOnboardingStateSummary
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - compliantDeviceCount
                - conflictDeviceCount
                - errorDeviceCount
                - nonCompliantDeviceCount
                - notApplicableDeviceCount
                - notAssignedDeviceCount
                - remediatedDeviceCount
                - unknownDeviceCount
                - advancedThreatProtectionOnboardingDeviceSettingStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - advancedThreatProtectionOnboardingDeviceSettingStates
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingStateSummary'
          links:
            advancedThreatProtectionOnboardingDeviceSettingStates:
              operationId: deviceManagement.AdvancedThreatProtectionOnboardingStateSummary.ListAdvancedThreatProtectionOnboardingDeviceSettingStates
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Update the navigation property advancedThreatProtectionOnboardingStateSummary in deviceManagement
      operationId: deviceManagement_UpdateAdvancedThreatProtectionOnboardingStateSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingStateSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Delete navigation property advancedThreatProtectionOnboardingStateSummary for deviceManagement
      operationId: deviceManagement_DeleteAdvancedThreatProtectionOnboardingStateSummary
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/advancedThreatProtectionOnboardingStateSummary/advancedThreatProtectionOnboardingDeviceSettingStates:
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingDeviceSettingStates from deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_ListAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - complianceGracePeriodExpirationDateTime
                - complianceGracePeriodExpirationDateTime desc
                - deviceId
                - deviceId desc
                - deviceModel
                - deviceModel desc
                - deviceName
                - deviceName desc
                - platformType
                - platformType desc
                - setting
                - setting desc
                - settingName
                - settingName desc
                - state
                - state desc
                - userEmail
                - userEmail desc
                - userId
                - userId desc
                - userName
                - userName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceId
                - deviceModel
                - deviceName
                - platformType
                - setting
                - settingName
                - state
                - userEmail
                - userId
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of advancedThreatProtectionOnboardingDeviceSettingState
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Create new navigation property to advancedThreatProtectionOnboardingDeviceSettingStates for deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_CreateAdvancedThreatProtectionOnboardingDeviceSettingStates
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/advancedThreatProtectionOnboardingStateSummary/advancedThreatProtectionOnboardingDeviceSettingStates/{advancedThreatProtectionOnboardingDeviceSettingState-id}':
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingDeviceSettingStates from deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_GetAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: 'key: id of advancedThreatProtectionOnboardingDeviceSettingState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceId
                - deviceModel
                - deviceName
                - platformType
                - setting
                - settingName
                - state
                - userEmail
                - userId
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Update the navigation property advancedThreatProtectionOnboardingDeviceSettingStates in deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_UpdateAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: 'key: id of advancedThreatProtectionOnboardingDeviceSettingState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Delete navigation property advancedThreatProtectionOnboardingDeviceSettingStates for deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_DeleteAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: 'key: id of advancedThreatProtectionOnboardingDeviceSettingState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidDeviceOwnerEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Get androidDeviceOwnerEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_ListAndroidDeviceOwnerEnrollmentProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountId
                - accountId desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enrolledDeviceCount
                - enrolledDeviceCount desc
                - enrollmentMode
                - enrollmentMode desc
                - enrollmentTokenType
                - enrollmentTokenType desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - qrCodeContent
                - qrCodeContent desc
                - qrCodeImage
                - qrCodeImage desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - tokenCreationDateTime
                - tokenCreationDateTime desc
                - tokenExpirationDateTime
                - tokenExpirationDateTime desc
                - tokenValue
                - tokenValue desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - enrollmentMode
                - enrollmentTokenType
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - roleScopeTagIds
                - tokenCreationDateTime
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of androidDeviceOwnerEnrollmentProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Create new navigation property to androidDeviceOwnerEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAndroidDeviceOwnerEnrollmentProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidDeviceOwnerEnrollmentProfiles/{androidDeviceOwnerEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Get androidDeviceOwnerEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_GetAndroidDeviceOwnerEnrollmentProfiles
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - enrollmentMode
                - enrollmentTokenType
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - roleScopeTagIds
                - tokenCreationDateTime
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Update the navigation property androidDeviceOwnerEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAndroidDeviceOwnerEnrollmentProfiles
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Delete navigation property androidDeviceOwnerEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAndroidDeviceOwnerEnrollmentProfiles
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidDeviceOwnerEnrollmentProfiles/{androidDeviceOwnerEnrollmentProfile-id}/microsoft.graph.createToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createToken
      operationId: deviceManagement.androidDeviceOwnerEnrollmentProfiles_createToken
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                tokenValidityInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/androidDeviceOwnerEnrollmentProfiles/{androidDeviceOwnerEnrollmentProfile-id}/microsoft.graph.revokeToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action revokeToken
      operationId: deviceManagement.androidDeviceOwnerEnrollmentProfiles_revokeToken
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkAppConfigurationSchemas:
    get:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Get androidForWorkAppConfigurationSchemas from deviceManagement
      operationId: deviceManagement_ListAndroidForWorkAppConfigurationSchemas
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - exampleJson
                - exampleJson desc
                - schemaItems
                - schemaItems desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of androidForWorkAppConfigurationSchema
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Create new navigation property to androidForWorkAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_CreateAndroidForWorkAppConfigurationSchemas
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidForWorkAppConfigurationSchemas/{androidForWorkAppConfigurationSchema-id}':
    get:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Get androidForWorkAppConfigurationSchemas from deviceManagement
      operationId: deviceManagement_GetAndroidForWorkAppConfigurationSchemas
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: 'key: id of androidForWorkAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Update the navigation property androidForWorkAppConfigurationSchemas in deviceManagement
      operationId: deviceManagement_UpdateAndroidForWorkAppConfigurationSchemas
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: 'key: id of androidForWorkAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Delete navigation property androidForWorkAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_DeleteAndroidForWorkAppConfigurationSchemas
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: 'key: id of androidForWorkAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidForWorkEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Get androidForWorkEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_ListAndroidForWorkEnrollmentProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountId
                - accountId desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enrolledDeviceCount
                - enrolledDeviceCount desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - qrCodeContent
                - qrCodeContent desc
                - qrCodeImage
                - qrCodeImage desc
                - tokenExpirationDateTime
                - tokenExpirationDateTime desc
                - tokenValue
                - tokenValue desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of androidForWorkEnrollmentProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Create new navigation property to androidForWorkEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAndroidForWorkEnrollmentProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidForWorkEnrollmentProfiles/{androidForWorkEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Get androidForWorkEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_GetAndroidForWorkEnrollmentProfiles
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Update the navigation property androidForWorkEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAndroidForWorkEnrollmentProfiles
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Delete navigation property androidForWorkEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAndroidForWorkEnrollmentProfiles
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidForWorkEnrollmentProfiles/{androidForWorkEnrollmentProfile-id}/microsoft.graph.createToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createToken
      operationId: deviceManagement.androidForWorkEnrollmentProfiles_createToken
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                tokenValidityInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/androidForWorkEnrollmentProfiles/{androidForWorkEnrollmentProfile-id}/microsoft.graph.revokeToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action revokeToken
      operationId: deviceManagement.androidForWorkEnrollmentProfiles_revokeToken
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings:
    get:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Get androidForWorkSettings from deviceManagement
      operationId: deviceManagement_GetAndroidForWorkSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - bindStatus
                - deviceOwnerManagementEnabled
                - enrollmentTarget
                - lastAppSyncDateTime
                - lastAppSyncStatus
                - lastModifiedDateTime
                - ownerOrganizationName
                - ownerUserPrincipalName
                - targetGroupIds
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Update the navigation property androidForWorkSettings in deviceManagement
      operationId: deviceManagement_UpdateAndroidForWorkSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Delete navigation property androidForWorkSettings for deviceManagement
      operationId: deviceManagement_DeleteAndroidForWorkSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidForWorkSettings/microsoft.graph.completeSignup:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action completeSignup
      operationId: deviceManagement.androidForWorkSettings_completeSignup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enterpriseToken:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings/microsoft.graph.requestSignupUrl:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action requestSignupUrl
      operationId: deviceManagement.androidForWorkSettings_requestSignupUrl
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                hostName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings/microsoft.graph.syncApps:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncApps
      operationId: deviceManagement.androidForWorkSettings_syncApps
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings/microsoft.graph.unbind:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action unbind
      operationId: deviceManagement.androidForWorkSettings_unbind
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings:
    get:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Get androidManagedStoreAccountEnterpriseSettings from deviceManagement
      operationId: deviceManagement_GetAndroidManagedStoreAccountEnterpriseSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - androidDeviceOwnerFullyManagedEnrollmentEnabled
                - bindStatus
                - companyCodes
                - deviceOwnerManagementEnabled
                - enrollmentTarget
                - lastAppSyncDateTime
                - lastAppSyncStatus
                - lastModifiedDateTime
                - ownerOrganizationName
                - ownerUserPrincipalName
                - targetGroupIds
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAccountEnterpriseSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Update the navigation property androidManagedStoreAccountEnterpriseSettings in deviceManagement
      operationId: deviceManagement_UpdateAndroidManagedStoreAccountEnterpriseSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAccountEnterpriseSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Delete navigation property androidManagedStoreAccountEnterpriseSettings for deviceManagement
      operationId: deviceManagement_DeleteAndroidManagedStoreAccountEnterpriseSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.approveApps:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action approveApps
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_approveApps
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                packageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
                approveAllPermissions:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.completeSignup:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action completeSignup
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_completeSignup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enterpriseToken:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.createGooglePlayWebToken:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createGooglePlayWebToken
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_createGooglePlayWebToken
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                parentUri:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.requestSignupUrl:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action requestSignupUrl
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_requestSignupUrl
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                hostName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.setAndroidDeviceOwnerFullyManagedEnrollmentState:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setAndroidDeviceOwnerFullyManagedEnrollmentState
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_setAndroidDeviceOwnerFullyManagedEnrollmentState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.syncApps:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncApps
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_syncApps
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.unbind:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action unbind
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_unbind
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAppConfigurationSchemas:
    get:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Get androidManagedStoreAppConfigurationSchemas from deviceManagement
      operationId: deviceManagement_ListAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - exampleJson
                - exampleJson desc
                - nestedSchemaItems
                - nestedSchemaItems desc
                - schemaItems
                - schemaItems desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - nestedSchemaItems
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of androidManagedStoreAppConfigurationSchema
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Create new navigation property to androidManagedStoreAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_CreateAndroidManagedStoreAppConfigurationSchemas
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidManagedStoreAppConfigurationSchemas/{androidManagedStoreAppConfigurationSchema-id}':
    get:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Get androidManagedStoreAppConfigurationSchemas from deviceManagement
      operationId: deviceManagement_GetAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: 'key: id of androidManagedStoreAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - nestedSchemaItems
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Update the navigation property androidManagedStoreAppConfigurationSchemas in deviceManagement
      operationId: deviceManagement_UpdateAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: 'key: id of androidManagedStoreAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Delete navigation property androidManagedStoreAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_DeleteAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: 'key: id of androidManagedStoreAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/applePushNotificationCertificate:
    get:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Get applePushNotificationCertificate from deviceManagement
      operationId: deviceManagement_GetApplePushNotificationCertificate
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appleIdentifier
                - certificate
                - certificateSerialNumber
                - certificateUploadFailureReason
                - certificateUploadStatus
                - expirationDateTime
                - lastModifiedDateTime
                - topicIdentifier
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Update the navigation property applePushNotificationCertificate in deviceManagement
      operationId: deviceManagement_UpdateApplePushNotificationCertificate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Delete navigation property applePushNotificationCertificate for deviceManagement
      operationId: deviceManagement_DeleteApplePushNotificationCertificate
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/applePushNotificationCertificate/microsoft.graph.downloadApplePushNotificationCertificateSigningRequest():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function downloadApplePushNotificationCertificateSigningRequest
      operationId: deviceManagement.applePushNotificationCertificate_downloadApplePushNotificationCertificateSigningRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/applePushNotificationCertificate/microsoft.graph.generateApplePushNotificationCertificateSigningRequest:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action generateApplePushNotificationCertificateSigningRequest
      operationId: deviceManagement.applePushNotificationCertificate_generateApplePushNotificationCertificateSigningRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/appleUserInitiatedEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get appleUserInitiatedEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_ListAppleUserInitiatedEnrollmentProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - availableEnrollmentTypeOptions
                - availableEnrollmentTypeOptions desc
                - createdDateTime
                - createdDateTime desc
                - defaultEnrollmentType
                - defaultEnrollmentType desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - platform
                - platform desc
                - priority
                - priority desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - availableEnrollmentTypeOptions
                - createdDateTime
                - defaultEnrollmentType
                - description
                - displayName
                - lastModifiedDateTime
                - platform
                - priority
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appleUserInitiatedEnrollmentProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Create new navigation property to appleUserInitiatedEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAppleUserInitiatedEnrollmentProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get appleUserInitiatedEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_GetAppleUserInitiatedEnrollmentProfiles
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - availableEnrollmentTypeOptions
                - createdDateTime
                - defaultEnrollmentType
                - description
                - displayName
                - lastModifiedDateTime
                - platform
                - priority
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
          links:
            assignments:
              operationId: deviceManagement.AppleUserInitiatedEnrollmentProfiles.ListAssignments
              parameters:
                appleUserInitiatedEnrollmentProfile-id: $request.path.appleUserInitiatedEnrollmentProfile-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Update the navigation property appleUserInitiatedEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAppleUserInitiatedEnrollmentProfiles
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Delete navigation property appleUserInitiatedEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAppleUserInitiatedEnrollmentProfiles
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
[...]
